img {
  max-width: 100%;
  height: auto;
}

.spinning-logo {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  width: rem(280px);
  margin-left: auto;
  margin-right: auto;

  @include respond-above(xs, md) {
    width: rem(320px);
  }

  @include respond-above(sm, lg) {
    width: rem(400px);
  }

  @include respond-above(md, xl) {
    width: rem(512px);
  }

  @include respond-above(xxxl, xxxl) {
    width: rem(600px);
  }
}
