@font-face {
  src: local("Rockwell"),
  font-display: swap;
       url("../fonts/rockwell/rockwell-regular.ttf") format("truetype");
  font-family: "Rockwell";
  font-style: normal;
  font-weight: $font-weight-base;
}

h1, .h1 {
  line-height: $headings-line-height;
  font-size: $h1-font-size;
  font-weight: $headings-font-weight;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}
