main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include only-ie {
        min-height: none;
        height: 100vh;
    }
}

.container {
    padding: rem(8px);
}

// .text,
// .media {
//     .landing & {
//         margin-bottom: rem(20px);

//         @include respond-above(md) {
//             margin-bottom: rem(24px);
//         }
//     }
// }
