img {
    max-width: 100%;
    height: auto;
}

.logo {
  position: relative;

  .spinner-ring {
    // position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 540px;

      animation-name: rotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    text {
      text-transform: uppercase;
      font-family: "Helvetica Neue", Arial;
      font-size: 10px;
      font-weight: bold;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// .video {
//     &-mute {
//         position: absolute;
//         bottom: rem(12px);
//         right: rem(12px);
//         width: rem(24px);
//         height: rem(24px);

//         &:hover {
//             cursor: pointer;
//         }

//         .no-js &,
//         .video:not([muted]) + & {
//             display: none;
//         }
//     }
// }

// .media {
//     width: rem(280px);

//     @include respond-above(xs, md) {
//         width: rem(320px);
//     }

//     @include respond-above(sm, lg) {
//         width: rem(384px);
//     }

//     @include respond-above(md, xl) {
//         width: rem(480px);
//     }

//     @include respond-above(xxxl, xxxl) {
//         width: rem(540px);
//     }
// }
