.nav {
    &__item {
        &s {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: rem(20px) auto rem(20px);
            padding-left: 0;
        }

        list-style: none;

        &:nth-child(1),
        &:nth-child(4) {
            grid-column: 1 / span 1;
        }

        &:nth-child(1),
        &:nth-child(2) {
            grid-row: 1 / span 1;
        }

        &:nth-child(2),
        &:nth-child(5) {
            grid-column: 2 / span 1;
            text-align: right;
        }

        &:nth-child(4),
        &:nth-child(5) {
            grid-row: 3 / span 1;
        }

        &:nth-child(3) {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }
    }
}
