body {
  min-width: $body-min-width;
  letter-spacing: 0.0625rem;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $white;
  transition: $transition-base;
  transition-property: text-decoration-color, color;
}
