.site-header {
  margin-bottom: rem(80px);

  @include respond-above(xl) {
    margin-bottom: rem(120px);
  }
}

.woocommerce,
.woocommerce-page {
  .col2-set .col-1,
  .col2-set .col-2 {
    // Reset to default
    position: static;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.woocommerce {
  ul.products {
    &:last-child {
      margin-bottom: 0;
    }

    li.product {
      // Reset to default
      float: none !important;
      width: auto !important;
      margin: 0 !important;
    }
  }
}
